.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;
  background: #000;

  ul {
    list-style: none;

    li {
      position: relative;
      color: #fff;
      font-family: 'Bungee', cursive;
      font-size: 20px;
      line-height: 42px;
      text-transform: uppercase;

      &.selected {
        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          left: -50px;
          width: 42px;
          height: 42px;
          background: url('../../assets/img/tank.svg') 0 0 no-repeat;
          transform: rotate(90deg);
        }
      }
    }
  }
}