.tank {
  position: absolute;
  z-index: 100;
  background: url('./../../assets/img/tank.svg') top left no-repeat;

  &.ai {
    background: url('./../../assets/img/tank-ai.svg') top left no-repeat;
  }
}